body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

#main {
 width: auto;
 height: 486px;
 margin: 64px auto 64px;
}

#main img {
  width: 350px;
  height: 238px;
  
}

h1 {
  font-weight: bold;
  font-size: 32px;
  font-family: 'Dosis', sans-serif;
  font-style: normal;
  color: #3F3D56;
  margin-bottom: 16px;
  line-height: 40px;
  text-align: center;
}

h1 span {
  font-weight: bold;
  color: #EE24FF;
}

p , #footer {
  color: #828282;
  font-family: 'Open Sans';
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  margin-top: 32px;
}

p span, a {
  font-weight: bold;
  color: #3F3D56;
}

#footer a + a {
  margin-left: 42px;
}

.line {
  width: 391px;
  height: 0px;
  margin:  0 auto 16px;
  border: 1px  solid #ECEFF2;
}

#footer{
  margin-top: 64px;
  margin-bottom: 40.83px;
}


.wave img{
  width: 100%;
  padding: 0;
  margin: 0;
}


